__pycache__/
*.pyc
*.pyo
.DS_Store

.env
.venv*/

logs/
results/
reports/
objects/
result_dump_*/

designs
platforms
scripts
util
test

*.log

AutoTuner-integration/ORFS-with-AutoTuner/.env
AutoTuner-integration/ORFS-with-AutoTuner/.venv_analyst_agent/
AutoTuner-integration/ORFS-with-AutoTuner/*_context_*.txt
AutoTuner-integration/ORFS-with-AutoTuner/final_thought.json
